<div class="card" *ngFor="let product of products">
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <img width="150px" [src]="product.thumbail" [alt]="product.name" />
      </div>
      <div class="col-4">
        <h5 class="name"> {{ product.name }} </h5>
        <p class="description"> {{ product.description }} </p>
        <p class="price"> {{ product.price }}$ </p>
      </div>
      <div class="col-2">
        <input
          #inputQuantityProducts
          type="number"
          style="width: 50px"
          name="quantity"
          [id]="product.id"
          class="form-control"
          [value]="product.quantity"
          (input)="updateQuantity(inputQuantityProducts)"
        />
      </div>
      <div class="col-2">
        <i class="fas fa-times-circle" (click)="removeProduct(product.id)"></i>
      </div>
    </div>
  </div>
</div>
