input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.description {
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  margin-bottom: 10px;
}
